.env
.env.*
configs/.env

.git
.gitignore

api-linux
worker-linux
caiyun-api
caiyun-worker
*.exe
*.test
*.out

bin/
dist/
build/
coverage/
logs/
tmp/
temp/
*.log
*.tmp

vendor/
gopath/pkg/mod/

docs/
README.md
